/*.parallax-window {
 	min-height: 400px;
 	background: transparent;
 }*/

 body, html {
    height: 100%;
}

.parallax1 {
    /* The image used */
    background-image: url("http://i63.tinypic.com/4pzcx1.jpg");

    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("http://i65.tinypic.com/rstxk7.jpg");

    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("http://i66.tinypic.com/okuywy.jpg");

    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
}

.background {
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    width: 50%
}

#education p{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
	font-size: 1.2em;
}

#education h2 {
	text-align: center;
}
